* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, black, gray);
}

.content {
    width: 550px;
    background-color: lightgoldenrodyellow;
    margin: auto;
    margin-top: 25%;
    border-radius: 20px;
    box-shadow: 9px 7px 20px;
}

.title {
    padding: 15px 0px;
}

.recipes {
    border-top: solid 3px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 44px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    font-size: 24px;
    padding: 10px;
    text-align: left;
}

a {
    font-weight: bold;
    font-size: 30px;
    color: black;
    display: block;
    background-color: lightcyan;
    padding: 15px;
    border: solid 5px black;
    border-radius: 15px;
    text-decoration: none;
}

a:hover {
    background-color: cyan;
}